[Unit]
Description=Wait for netcfg network to be configured
Documentation=https://github.com/netcfg/netcfg
After=netcfg.service
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/netcfg status --wait
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
